@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Lora", Times, serif;
}

.navbar {
  background-color: rgb(255, 245, 233) !important;
}
.card {
  border-style: double !important;
  border-width: 15px;
  border-radius: 0px;
  border-color: rgb(238, 220, 199);
}
p {
  font-size: x-large;
  margin-top: 10%;
  margin-bottom: 0%;
}
h5 {
  font-size: x-large;
  margin-top: 10%;
}

.btn {
  border-style: double !important;
  border-width: 5px;
  border-radius: 0;
  border-color: rgb(97, 97, 97);
}
.btn:hover {
  background-color: rgb(154, 135, 124);
  color: white;
  border-color: white;
}
.card:hover {
  transform: scale(1.1);
}
.footer {
  background-color: rgb(255, 245, 233);
}
.nav-link {
    color: black !important;
}
.nav-link:hover {
    color: rgb(174, 133, 110) !important;
}

